@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: 'Exo', sans-serif;
  background: #0a1a36;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #828282;
  background-clip: padding-box;
  border: 3px solid transparent;
  min-height: 50px;
}

::-webkit-scrollbar-thumb:hover {
  border-width: 1px;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.pulse {
  border-radius: 99999999px;
  animation: pulse-animation 5s ease-in infinite alternate;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.01);
  }
  100% {
    box-shadow: 0 0 10000px 5000px rgba(0, 0, 0, 0);
  }
}
